* {
  margin: 0px;
  padding: 0px;
}

.nav {
  background: rgb(255, 255, 255);
  padding: 4px 48px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.cart-icon {
  font-size: 24px;
  margin-top: -5px;
  position: relative;
}
.cart-count {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -7px;
}
.logo-col .logo-col-shop{
  margin-right: 40px;
}
.logo-test {
  letter-spacing: 14px;
  margin-right: 80px;
}
.section-one {
  background: rgb(255, 255, 255);
  padding: 48px 140px 24px 100px;
}
.section-one div select {
  width: 300px;
}
.section-two {
  background: #e2e6e3;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  row-gap: 150px;
  padding: 80px 100px;
}
.product-image {
  width: 150px;
  height: 150px;
  margin-bottom: 60px !important;
  display: block;
  margin: auto;
}
.cart-img {
  height: 100%;
  width: 100px;
}

@media only screen and (min-width: 768px) {
  .section-two {
    grid-template-columns: auto auto auto;
  }
  .dropdown-menu {
  width: 400px;
}
}
@media only screen and (max-width: 767px) {
  .section-two {
    grid-template-columns: auto auto;
  }
  .dropdown-menu {
  width: 200px;
}
.cart-img {
  height: 100%;
  width: 50px;
}
}